body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  padding: 15px;
  background-color: #004cc6;
  color: #fff;
  text-align: center;
}

h1:hover {
  color: #ffcc00;
  /* Cambia el color del título al pasar el mouse */
}

main {
  padding: 20px;
}


#video-section {
 margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los videos */
  /* Margen o espacio encima del video*/
}

#video-section iframe {
  width: 100%;
  max-width: 600px;
  /* Ancho máximo del video */
  height: auto;
  border-radius: 10px;
  border: 3px solid #727272;
  /* Borde alrededor del video */
}

#menu {
  background-color: #f2f2f2;
  padding: 25px;
  text-align: center;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline;
  margin-right: 10px;
}

.item {
  DISPLAY: inline-block;
  BACKGROUND-COLOR: #004cc6;
  margin-right: 10px;
  padding: 10px 20px; 
  border-radius: 5px; 
}
.item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.form-actions {
  margin-top: 20px;
  text-align: center;
}

input:focus{
  outline: none;
  border-color: #004cc6;
  box-shadow: 0 0 5px rgba(0, 76, 198, 0.5);
}

button {
  background-color: #004cc6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #007599;
}

